{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div>
    <img src="{% static 'images/logo.png' %}" alt="logo" width="100px">
    <h1 class="contents">2024 멋쟁이사자처럼 {{generation}}기</h1>
    <div class="contents">Welcome Django!</div>
    <div>🦁머쩅이 사자의 일기짱
      <ul>
        <li>오늘의 날씨 : {{info.weather}}</li>
        <li>오늘의 기분 : {{info.feeling}}</li>
        <li>{{info.note}}</li>
      </ul>
    </div>
    <div>🤓장고 MTV 패턴 요약정리
      <ul>
        {% for session in sessions %}
        <li>{{ session }}</li>
        {% endfor %}
      </ul>
  </div>
  {% endblock %}