{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1>#{{tag}}(이)가 달린 게시글</h1>
    <div>
        {% for p in posts %}
        <hr/>
        <h3>{{p.title}}</h3>
        {{p.writer}} | {{p.pub_date}}<br>
        {{p.summary}}
        <a href="{% url 'main:detail' p.id %}">자세히 보기</a>
        <br>
        {% endfor %}

        {% for c in comments %}
        <hr/>
        <h3>{{c.post.title}}</h3>
        {{c.post.writer}} | {{c.post.pub_date}}<br>
        {{c.post.summary}}
        <a href="{% url 'main:detail' c.post.id %}">자세히 보기</a>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}